.tile-bg{
    text-decoration: none;
    color: black;
}
.moviesDoc-summary{
    float: left;
    padding: 0px;
    width:18%;
    height:460px;
    text-align: center;
    background-color: lightgrey;
}

.img-poster{
    width:100%;
    height: 350px;
}

.movie-title{
   font-weight: bold;
   padding: 5px;
}

.movie-year{
    font-weight: 300;
    padding: 5px;
    color: darkorange;
}